@import url("https://fonts.googleapis.com/css?family=Cinzel|Lato|Montserrat|Oswald|Raleway|Roboto&display=swap");
:root {
  --paddingVerticalHeader: 20px;
}
html {
  scroll-behavior: smooth;
}
* {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  @media (max-width: 991.8px) {
    flex-direction: column;
  }
}
.col-1 {
  flex: 0 0 calc(100% * 1 / 12);
}
.col-2 {
  flex: 0 0 calc(100% * 2 / 12);
}
.col-3 {
  flex: 0 0 calc(100% * 3 / 12);
}
.col-4 {
  flex: 0 0 calc(100% * 4 / 12);
}
.col-5 {
  flex: 0 0 calc(100% * 5 / 12);
}
.col-6 {
  flex: 0 0 calc(100% * 6 / 12);
}
.col-7 {
  flex: 0 0 calc(100% * 7 / 12);
}
.col-8 {
  flex: 0 0 calc(100% * 8 / 12);
}
.col-9 {
  flex: 0 0 calc(100% * 9 / 12);
}
.col-10 {
  flex: 0 0 calc(100% * 10 / 12);
}
.col-11 {
  flex: 0 0 calc(100% * 11 / 12);
}
.col-12 {
  flex: 0 0 calc(100% * 12 / 12);
}
.header {
  // position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background: blueviolet;
  // min-height: 60px;
  padding: var(--paddingVerticalHeader) 0px;
  flex-direction: row;
  @media (max-width: 991.8px) {
    flex-direction: column;
  }
}
.nav-items {
  display: flex;
}
.nav-item {
  text-decoration: none;
  background-color: black;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Cinzel", serif;
  font-size: 20px;
  line-height: 18px;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  &::before {
    content: "";
    position: absolute;
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    top: calc(0px - var(--paddingVerticalHeader));
    height: 3px;
    background: white;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    color: rgba(0, 0, 0, 1);
    &::before {
      content: "";
      position: absolute;
      width: 150%;
      left: 50%;
      transform: translateX(-50%);
      top: calc(0px - var(--paddingVerticalHeader));
      height: 3px;
      background: white;
    }
  }
  + .dropdown-content {
    display: flex;
  }
}
.dropdown {
  position: relative;
  // background: red;
  // min-width: 50;
  // text-align: center;
  // justify-self: center;
  justify-content: center;
  .nav-item {
    .dropdown-arrow {
      color: rgba(255, 255, 255, 0.7);
      font-size: 18px;
      margin-left: 2px;
      transform: rotate(0deg);
      transition: rotate 2s;
      align-items: center;
      justify-content: center;
    }
  }
}
.rotate-180 {
  transform: rotate(180deg);
}
.dropdown-content {
  min-width: 250px;
  padding: 10px 15px 15px 15px;
  // padding-bottom: 20px;
  display: none;
  // background: blue;
  // padding: 10px;
  border-radius: 0px 0px 5px 5px;
  align-items: center;
  position: absolute;
  flex-direction: column;
  left: 50%;
  top: calc(100% + var(--paddingVerticalHeader));
  opacity: 0;
  transition-duration: 1s;
  transition-delay: 0s;

  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: all;
  transform: translateX(-50%);
  a {
    padding: 5px 3px;
    transition-duration: 0.3s;
    transition-delay: 0s;
    opacity: 0;

    text-align: center;
    // display: none;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }
}

.show-dropdown {
  opacity: 1;
  display: flex;
  z-index: 200 !important;
  a {
    opacity: 1;
    z-index: 200;
    color: rgba(255, 255, 255, 0.7);
    // display: block;
  }
}
.header-scrolled {
  background-color: black;
  .nav-items {
    .dropdown-content {
      z-index: -2;
      background-color: rgba(0, 0, 0, 0.7);
      a {
        color: rgba(255, 255, 255, 0.7);
        &:hover {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
  .nav-item {
    color: rgba(255, 255, 255, 0.7);
    &.active {
      color: white;
      &::before {
        content: "";
        position: absolute;
        width: 150%;
        left: 50%;
        transform: translateX(-50%);
        top: calc(0px - var(--paddingVerticalHeader));
        height: 3px;
        background: white;
      }
    }
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.swiper-container {
  width: 95vw;
  height: calc(100vh - 60px);
  margin-left: auto;
  margin-right: auto;
  // background: red;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.content-block {
  display: flex;
  padding: 30px;
  flex-direction: column;
  .content-heading {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
  }
  .content-text {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    p {
      font-family: "Lato", sans-serif;
      padding: 5px;
      font-size: 18px;
    }
  }
  .image {
    align-items: center;
    justify-content: center;
    display: flex;
    // margin: 10px;
    border: solid 1px grey;
    // width: calc(100% - 40px);
    background: lightgray;
    border-radius: 2px;
  }
}
// .daily-verse {
//   table {
//     width: 100% !important;
//     border: none !important;
//     border-collapse: collapse !important;
//     tbody {
//       border: none !important;
//       border-collapse: collapse !important;
//       tr {
//         border: none !important;
//         border-collapse: collapse !important;
//         td {
//           border: none !important;
//           border-collapse: collapse !important;
//           font {
//             div[align="CENTER"] {
//               display: none;
//             }
//             div {
//               font {
//                 font-size: 18px;
//                 font-family: "Roboto", sans-serif;
//                 b {
//                   font-size: 16px;
//                   font-family: "Lato", sans-serif;
//                 }
//               }
//             }
//             span {
//               div {
//                 font {
//                   text-decoration: none !important;
//                   color: grey !important;
//                   font-size: 15px;
//                   font-family: "Lato", sans-serif;
//                   a {
//                     text-decoration: none !important;
//                     color: grey !important;
//                     font-size: 15px;
//                     cursor: pointer !important;
//                     font-family: "Lato", sans-serif;
//                     &:nth-child(3) {
//                       font-family: "Lato", sans-serif;
//                       font-size: 8px !important;
//                     }
//                   }
//                   a[href="http://links.christiansunite.com/go.cgi?vs"] {
//                     font-size: 8px !important;
//                     font-family: "Lato", sans-serif;
//                   }
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }
.content-sub-heading {
  text-align: center;
  font-size: 22px;
}

.service-timings {
  .row {
    .content-text {
      p {
        text-align: center;
      }
    }
  }
}
.footer {
  background-color: #000000;
  padding: 12px 0px;
  font-size: 16px;
  color: #fff;
  div {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    span {
      color: rgba(255, 255, 255, 0.7);
      // display: flex;
      a {
        color: rgba(255, 255, 255, 0.7);
      }
      i {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}

.dailyVersesWrapper a {
  color: #000;
  // font-weight: bold;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}
.dailyVerses:nth-child(1) {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
}

.dailyVerses:nth-child(2) {
  text-align: center;
  opacity: 0.6;
}
.dailyVerses.linkToWebsite {
  text-align: center;
  a {
    opacity: 0.6;
    font-size: 10px;
    text-decoration: none;
    text-align: right;
  }
}
.map {
  align-items: center;
  justify-content: center;
}
.center-text {
  text-align: center;
}
.right-text {
  text-align: right;
}
.left-text {
  text-align: left;
}
